body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #403C3B;
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

@media (max-width: 767px) {
  body {
    background-color: #1E1E1E;
    background-image: none;
  }
}